Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

chore: bump version to v2.3.5
  CHANGELOG.md
Due: none

fix: stop update from migrating config with stale defaults
  cmd/update.go
  cmd/update_test.go
Due: gofmt, govet, staticcheck, go-test

docs: update changelog for updater migration fix
  CHANGELOG.md
Due: none

chore: bump version to v2.3.6
  CHANGELOG.md
Due: none

refactor: add CheckContext helper and ParseSecretsWithStats for better error handling
  cmd/delete.go
  cmd/setup_config.go
  go.mod
  go.sum
  internal/config/loader.go
  internal/config/secrets.go
  internal/crypto/age.go
  internal/errors/errors.go
  internal/errors/errors_test.go
Due: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

refactor: deduplicate decrypt and remove duplicate config resolution
  cmd/setup.go
  internal/config/migration.go
  internal/config/migration_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(release): simplify goreleaser pipeline to single job
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
Due: none

feat(justfile): add goreleaser dry-run to pre-release
  justfile
Due: none

fix(release): replace process substitution with temp file and add goreleaser guard
  .github/workflows/release.yml
  justfile
Due: none

chore(release): remove armv7 build target
  .goreleaser.yaml
Due: none

docs(changelog): add unreleased entries for setup and delete warnings
  CHANGELOG.md
Due: none

refactor(cmd): wrap multi-arg functions with parameter structs
  cmd/coverage_test.go
  cmd/setup.go
  cmd/setup_prompts.go
  cmd/setup_prompts_test.go
  cmd/setup_provider.go
  cmd/setup_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(cmd): extract deleteProviderSecrets from delete command
  cmd/delete.go
Due: gofmt, govet, staticcheck, go-test

refactor(cmd): deduplicate secrets recovery help in handleSecretsError
  cmd/execution_error.go
Due: gofmt, govet, staticcheck, go-test

style(cmd): remove redundant what-comments from completion command
  cmd/completion.go
Due: gofmt, govet, staticcheck, go-test

refactor(config): remove redundant context check and deduplicate migration branches
  internal/config/loader.go
  internal/config/migration.go
Due: gofmt, govet, staticcheck, go-test

refactor(validate): extract API key length constants
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

refactor(config): extract constants and secrets into dedicated packages
  cmd/delete.go
  cmd/delete_test.go
  cmd/execution_error.go
  cmd/execution_harness.go
  cmd/integration_test.go
  cmd/setup_config.go
  cmd/setup_helpers_test.go
  cmd/setup_test.go
  cmd/update.go
  internal/config/config_test.go
  internal/config/env.go
  internal/config/expanded_test.go
  internal/config/secrets.go
  internal/constants/paths.go
  internal/constants/platform.go
  internal/crypto/age.go
  internal/secrets/secrets.go
  internal/secrets/secrets_test.go
  internal/ui/prompt.go
  internal/ui/prompt_test.go
  internal/wrapper/wrapper.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

fix(cmd): surface secrets warnings in setup flow and propagate through LoadSecrets
  cmd/setup.go
  cmd/setup_config.go
Due: gofmt, govet, staticcheck, go-test

fix(secrets): preserve malformed lines during secret deletion
  cmd/delete.go
  cmd/delete_test.go
  internal/secrets/secrets.go
Due: gofmt, govet, staticcheck, go-test

feat(providers): update deepseek default model and env vars
  internal/providers/registry.go
  internal/providers/registry_test.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test
