Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

docs: move contributing guide from docs/ to project root
  CONTRIBUTING.md
  docs/README.md
  docs/guides/development-guide.md
Due: none

refactor(internal): prune stale DefaultModels, rename parseCIDROrPanic, document error context keys
  internal/config/loader.go
  internal/config/loader_test.go
  internal/errors/errors.go
  internal/validate/url.go
Due: gofmt, govet, staticcheck, go-test

chore(config): fix gitignore age.key pattern, make cosign signing conditional, add generate recipe
  .gitignore
  .goreleaser.yaml
  justfile
Due: none

feat: add provider table generator, secrets cache, and execution orchestrator
  cmd/context_test.go
  cmd/execution_orchestrator.go
  cmd/gen/main.go
  internal/crypto/cache.go
  internal/providers/gentable.go
Due: gofmt, govet, staticcheck, go-test

refactor(cmd): remove defaultCLIContext global singleton, inject CLIContext via cobra context
  cmd/completion_test.go
  cmd/context.go
  cmd/default_test.go
  cmd/delete_test.go
  cmd/execution_error.go
  cmd/execution_harness.go
  cmd/harness_test.go
  cmd/integration_test.go
  cmd/list_test.go
  cmd/race_test.go
  cmd/root.go
  cmd/root_args_test.go
  cmd/root_cmd_test.go
  cmd/root_execute_test.go
  cmd/root_provider_test.go
  cmd/setup_configdir_test.go
  cmd/setup_prompts.go
  cmd/setup_provider.go
  cmd/setup_provider_test.go
  cmd/util.go
Due: gofmt, govet, staticcheck, go-test

docs(cmd): update README for CLIContext lifecycle refactor
  cmd/README.md
Due: none

refactor(secrets): consolidate secret parsing into canonical secrets package
  internal/crypto/cache.go
  internal/secrets/secrets.go
  internal/secrets/secrets_test.go
Due: gofmt, govet, staticcheck, go-test

fix(config): improve pre-commit installation with uv/pip fallback
  docs/guides/development-guide.md
  justfile
Due: none

docs(errors): move context key docs to doc.go, expand key list
  internal/config/loader_test.go
  internal/errors/doc.go
  internal/errors/errors.go
Due: gofmt, govet, staticcheck, go-test

fix(security): enforce cosign signing and cap HTTP response bodies at 10MB
  .goreleaser.yaml
  cmd/root_execute_test.go
  internal/update/update.go
  internal/update/update_test.go
Due: gofmt, govet, staticcheck, go-test

fix(security): address high-severity review findings
  cmd/execution_env_test.go
  go.mod
  go.sum
  internal/crypto/cache.go
  internal/harness/harness.go
  internal/harness/harness_test.go
  internal/secrets/secrets.go
  internal/validate/url.go
  internal/validate/validator_url_test.go
Due: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

fix(security): address medium-severity review findings
  cmd/execution_orchestrator.go
  cmd/root.go
  internal/config/loader.go
  internal/fsutil/fsutil.go
  internal/update/update.go
  internal/validate/url.go
Due: gofmt, govet, staticcheck, go-test

fix: address low-severity review findings
  cmd/context.go
  cmd/execution_orchestrator.go
  internal/execution/signal.go
  internal/providers/registry.go
  internal/providers/registry_test.go
  internal/update/update.go
Due: gofmt, govet, staticcheck, go-test

docs: add changelog entries for security and review fixes
  CHANGELOG.md
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: address code review findings across codebase
  cmd/README.md
  cmd/cli_context_test.go
  cmd/context.go
  cmd/execution_orchestrator.go
  cmd/execution_orchestrator_test.go
  cmd/root.go
  cmd/root_args_test.go
  internal/crypto/cache.go
  internal/providers/gentable.go
  internal/providers/gentable_test.go
  internal/update/update.go
  internal/update/update_test.go
Due: gofmt, govet, staticcheck, go-test

docs: fix inaccurate documentation and changelog
  CHANGELOG.md
  internal/README.md
Due: none

chore: remove renamed race_test.go file
  cmd/race_test.go
Due: gofmt, govet, staticcheck, go-test

chore: update go.mod after removing SecretsCache
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

chore: bump version to v2.9.1
  CHANGELOG.md
Due: none

chore: remove WarnFunc global, add mockCrypto, CIDR test, cmd wizard tests, fix delete.go warnings
  cmd/delete.go
  cmd/setup_configure_test.go
  cmd/setup_reset_test.go
  cmd/test_helpers.go
  internal/secrets/secrets.go
  internal/secrets/secrets_test.go
  internal/validate/cidr_test.go
  internal/validate/url.go
Due: gofmt, govet, staticcheck, go-test

refactor(update): dedup temp-file handling, injectable cosign exec, transport-based cosign tests
  internal/update/update.go
  internal/update/update_coverage_test.go
  internal/update/update_test.go
Due: gofmt, govet, staticcheck, go-test

test(cmd/gen): add provider table smoke test
  cmd/gen/main_test.go
Due: gofmt, govet, staticcheck, go-test

docs: add ADR 0004 (DI discipline), update CONTRIBUTING coverage section
  CONTRIBUTING.md
  docs/architecture/adr/0004-dependency-injection-discipline.md
  docs/architecture/adr/README.md
Due: none

docs: add changelog entry for update refactor in unreleased
  CHANGELOG.md
Due: none

refactor: simplify cmd helpers, CIDR validation, and update temp-file handling
  cmd/delete.go
  cmd/setup.go
  cmd/setup_configure_helpers_test.go
  cmd/setup_configure_test.go
  cmd/setup_reset_test.go
  cmd/test_helpers.go
  internal/secrets/secrets_test.go
  internal/ui/prompt.go
  internal/update/update.go
  internal/update/update_coverage_test.go
  internal/validate/cidr_test.go
  internal/validate/url.go
Due: gofmt, govet, staticcheck, go-test

feat(providers): externalize catalog to embedded JSON; add sigstore-verified refresh and providers cmd
  .goreleaser.yaml
  cmd/deps.go
  cmd/execution_orchestrator_test.go
  cmd/interfaces.go
  cmd/providers.go
  cmd/providers_test.go
  cmd/test_helpers.go
  internal/crypto/age.go
  internal/httpfetch/httpfetch.go
  internal/integrity/integrity.go
  internal/providers/catalog.json
  internal/providers/registry.go
  internal/providers/registry_test.go
  internal/update/update.go
  internal/update/update_coverage_test.go
  internal/update/update_test.go
  internal/wrapper/testdata/fuzz/FuzzEscapePowerShellArg/fe76de94df6037ab
  internal/wrapper/wrapper.go
  internal/wrapper/wrapper_generate_test.go
  internal/wrapper/wrapper_powershell_test.go
  internal/wrapper/wrapper_unix_test.go
Due: gofmt, govet, staticcheck, go-test

docs(registry): update add-provider instructions for catalog.json
  docs/guides/development-guide.md
  docs/reference/providers.md
  internal/README.md
Due: none

docs: document providers command, env vars, and misc fixes
  CHANGELOG.md
  README.md
  cmd/README.md
  docs/architecture/wrapper-scripts.md
  docs/guides/user-guide.md
  docs/reference/configuration.md
  docs/troubleshooting/README.md
Due: none

docs: add changelog entries for provider catalog and cmd refactors in unreleased
  CHANGELOG.md
Due: none

chore: bump version to v2.10.0
  CHANGELOG.md
Due: none

fix(release): create dist directory before catalog copy in before hook
  .goreleaser.yaml
Due: none

fix(release): stage catalog sigstore bundle outside dist before hook
  .gitignore
  .goreleaser.yaml
Due: none

feat(integrity): add SHA256 fallback for provider catalog verification when cosign is absent
  .goreleaser.yaml
  cmd/deps.go
  internal/httpfetch/httpfetch.go
  internal/httpfetch/httpfetch_test.go
  internal/integrity/integrity.go
  internal/integrity/integrity_test.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): add SHA256 fallback entry to [Unreleased]
  CHANGELOG.md
Due: none

chore: bump version to v2.10.1
  CHANGELOG.md
Due: none

fix(integrity): trim whitespace from checksum file before hash validation
  internal/integrity/integrity.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): add SHA256 checksum whitespace fix to [Unreleased]
  CHANGELOG.md
Due: none

chore: bump version to v2.10.2
  CHANGELOG.md
Due: none
