Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

deps: update x/term, x/sys, x/crypto, x/net, x/text, x/tools
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

fix: return deep copies from config cache to prevent mutation
  internal/config/cache.go
  internal/config/cache_test.go
Due: gofmt, govet, staticcheck, go-test

fix: add blank line before return for nlreturn linter
  internal/config/cache.go
Due: gofmt, govet, staticcheck, go-test

refactor: extract config directory and loading helpers
  cmd/default.go
  cmd/delete.go
  cmd/harness.go
  cmd/list.go
  cmd/util.go
Due: gofmt, govet, staticcheck, go-test

refactor: consolidate windowsGOOS and extract secrets recovery helper
  cmd/root.go
  cmd/setup.go
  cmd/update.go
  cmd/util.go
  internal/config/env.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

refactor: remove unused linter exclusions
  .golangci.yml
Due: none

chore: bump version to v2.1.1
  CHANGELOG.md
Due: none

docs: update Go version to 1.26+
  AGENTS.md
  README.md
Due: none

chore(tooling): pin golangci-lint to v1.64.8 in justfile
  justfile
Due: none

security(config): redact malformed secret entry logging
  internal/config/config_test.go
  internal/config/secrets.go
Due: gofmt, govet, staticcheck, go-test

fix(config): enforce strict YAML decoding with KnownFields(true)
  internal/config/config_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

fix(config): use atomic writes for config files
  internal/config/expanded_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

security(cmd): don't expose secrets in child process environment
  cmd/coverage_test.go
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

docs: update CHANGELOG for security and durability improvements
  CHANGELOG.md
Due: none

test: add coverage for ClearScreen and ValidateAPIKey edge cases
  internal/ui/prompt_test.go
  internal/validate/validator_test.go
Due: gofmt, govet, staticcheck, go-test

feat(errors): add CleanupOnError helper for consistent cleanup
  internal/errors/cleanup.go
  internal/errors/cleanup_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(cmd): extract setup prompts and execution helpers
  cmd/execution.go
  cmd/root.go
  cmd/setup.go
  cmd/setup_prompts.go
Due: gofmt, govet, staticcheck, go-test

docs: document global state design and provider addition process
  internal/README.md
Due: none

docs: add child process security fix to CHANGELOG
  CHANGELOG.md
Due: none

docs(changelog): add user-facing changes from v2.1.0 to HEAD
  CHANGELOG.md
Due: none

docs(changelog): add v2.2.0 changelog entries
  CHANGELOG.md
Due: none

docs: update Go version to 1.26+
  AGENTS.md
Due: none
