Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

style: fix whitespace in Config struct
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): add v1.8.1 release notes
  CHANGELOG.md
Due: none

fix(deps): remove unused golang.org/x/net and x/text dependencies
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

fix(pre-commit): use go from PATH (requires Go 1.25.7)
  .pre-commit-config.yaml
Due: none

docs(changelog): add v1.8.2 release notes
  CHANGELOG.md
Due: none

fix(config): update provider model during migration on kairo update
  internal/config/migration.go
  internal/config/migration_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(config): deprecate version field, keep for backward compat
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

feat(just): auto-install staticcheck in deps target
  justfile
Due: none

docs(changelog): add v1.8.3 release notes
  CHANGELOG.md
Due: none

feat(audit): add context fields to audit entries for traceability
  internal/audit/audit.go
  internal/audit/audit_test.go
Due: gofmt, govet, staticcheck, go-test

fix(switch): add deduplication for environment variables
  cmd/switch.go
  cmd/switch_test.go
Due: gofmt, govet, staticcheck, go-test

fix(audit): make LoadEntries thread-safe with RWMutex
  internal/audit/audit.go
  internal/audit/audit_test.go
Due: gofmt, govet, staticcheck, go-test

fix(setup): add validation for empty model in custom providers
  cmd/setup.go
  cmd/setup_test.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): add v1.8.4 release notes
  CHANGELOG.md
Due: none

fix(audit): check error from os.Truncate in test
  internal/audit/audit_test.go
Due: gofmt, govet, staticcheck, go-test

feat: add pre-release target to justfile
  AGENTS.md
  justfile
Due: none

docs: fix documentation inconsistencies with source code
  README.md
  docs/architecture/README.md
  docs/guides/user-guide.md
Due: none

feat(switch): add multi-harness support (claude/qwen)
  cmd/harness.go
  cmd/switch.go
  internal/config/loader.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

test: add tests for harness functionality and wrapper env var
  cmd/harness_test.go
  internal/wrapper/wrapper_test.go
Due: gofmt, govet, staticcheck, go-test

docs: update documentation for harness feature
  README.md
  cmd/README.md
  cmd/setup.go
  docs/guides/user-guide.md
Due: gofmt, govet, staticcheck, go-test
