Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

fix: add cleanup on harness error and widen blocked CIDR ranges
  cmd/execution_harness.go
  cmd/execution_harness_test.go
  internal/validate/url.go
  internal/validate/validator_url_test.go
Due: gofmt, govet, staticcheck, go-test

refactor: address tech debt — unify env vars, extract catalog URLs, add test coverage
  cmd/context_test.go
  cmd/deps.go
  cmd/deps_test.go
  cmd/execution_env.go
  cmd/execution_env_test.go
  cmd/util.go
  internal/config/cache_test.go
  internal/constants/constants_test.go
  internal/constants/urls.go
  internal/httpfetch/httpfetch_test.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): add unreleased entries for SSRF fix and harness cleanup
  CHANGELOG.md
Due: none

chore: bump version to v2.10.3
  CHANGELOG.md
Due: none

fix: session context cancel, env model vars, and build tooling
  cmd/coverage_test.go
  cmd/execution_env.go
  cmd/execution_harness.go
  cmd/version_test.go
  docs/architecture/README.md
  internal/README.md
  internal/constants/paths.go
  internal/crypto/service_test.go
  internal/execution/signal.go
  internal/execution/signal_test.go
  internal/providers/registry.go
  internal/wrapper/wrapper.go
  justfile
Due: gofmt, govet, staticcheck, go-test

fix: fail closed install script checksum verification
  scripts/checksums.txt
  scripts/install.ps1
  scripts/install.sh
Due: none

fix: make reset-secrets key regeneration atomic
  cmd/setup_config.go
  cmd/setup_config_test.go
  cmd/setup_reset_test.go
  cmd/test_helpers.go
Due: gofmt, govet, staticcheck, go-test

docs: document fail-closed install verification
  CHANGELOG.md
  docs/security/update-verification.md
Due: none

fix: block non-canonical IP encodings and private-resolving hosts
  internal/validate/url.go
  internal/validate/validator_network_test.go
  internal/validate/validator_url_test.go
Due: gofmt, govet, staticcheck, go-test

fix: harden setup, wrapper escaping, and prompt test determinism
  .pre-commit-config.yaml
  CHANGELOG.md
  cmd/root_execute_test.go
  cmd/setup.go
  cmd/setup_configure_helpers_test.go
  cmd/setup_configure_test.go
  cmd/setup_prompts_test.go
  docs/architecture/wrapper-scripts.md
  internal/update/update.go
  internal/update/update_test.go
  internal/wrapper/wrapper.go
  internal/wrapper/wrapper_coverage_test.go
  internal/wrapper/wrapper_generate_test.go
  internal/wrapper/wrapper_powershell_test.go
  internal/wrapper/wrapper_windows_test.go
  scripts/checksums.txt
  scripts/test-powershell-escaping.ps1
Due: gofmt, govet, staticcheck, go-test

fix: uniform model validation and cross-provider env conflict detection
  CHANGELOG.md
  cmd/setup_provider_test.go
  docs/architecture/README.md
  docs/reference/configuration.md
  internal/providers/catalog.json
  internal/providers/registry_test.go
  internal/validate/provider.go
  internal/validate/provider_test.go
  internal/validate/validator_model_test.go
Due: gofmt, govet, staticcheck, go-test

fix: harness exit codes, constant-time hashes, and scoped process kill
  CHANGELOG.md
  cmd/execution_harness.go
  cmd/root_execute_test.go
  docs/reference/providers.md
  internal/httpfetch/httpfetch.go
  internal/update/update.go
  internal/validate/url.go
  scripts/checksums.txt
  scripts/install.ps1
Due: gofmt, govet, staticcheck, go-test

feat: default harness is now pi
  CHANGELOG.md
  cmd/harness.go
  cmd/harness_test.go
  cmd/root_cmd_test.go
  cmd/root_execute_test.go
  docs/architecture/README.md
  docs/reference/configuration.md
  internal/README.md
  internal/harness/harness.go
  internal/harness/harness_test.go
Due: gofmt, govet, staticcheck, go-test

chore: bump Go toolchain from 1.26 to 1.27
  .github/workflows/ci.yml
  .github/workflows/vulnerability-scan.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/guides/development-guide.md
  go.mod
Due: go-mod-tidy, govulncheck

refactor(cmd): extract Pi multi-provider key injection helpers
  cmd/root.go
  cmd/root_provider_test.go
  docs/architecture/README.md
Due: gofmt, govet, staticcheck, go-test

refactor(secrets): move encrypted store I/O to internal/secrets
  CHANGELOG.md
  cmd/README.md
  cmd/delete_test.go
  cmd/execution_env.go
  cmd/setup.go
  cmd/setup_config.go
  cmd/setup_config_test.go
  cmd/setup_helpers_test.go
  cmd/setup_reset_test.go
  cmd/setup_secrets_test.go
  internal/README.md
  internal/secrets/store.go
  internal/secrets/store_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(app): move harness env assembly to internal/app
  CHANGELOG.md
  cmd/README.md
  cmd/coverage_test.go
  cmd/execution_env.go
  cmd/execution_env_test.go
  cmd/root.go
  cmd/root_args_test.go
  cmd/root_provider_test.go
  cmd/util.go
  cmd/util_test.go
  internal/README.md
  internal/app/env.go
  internal/app/env_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(app): extract launch resolution from cmd orchestration
  CHANGELOG.md
  cmd/README.md
  cmd/coverage_test.go
  cmd/execution.go
  cmd/execution_harness.go
  cmd/execution_orchestrator.go
  cmd/execution_orchestrator_test.go
  cmd/root.go
  cmd/root_args_test.go
  cmd/root_cmd_test.go
  cmd/run_provider.go
  internal/README.md
  internal/app/resolve.go
  internal/app/resolve_test.go
Due: gofmt, govet, staticcheck, go-test

docs: align architecture docs and enforce package coverage
  AGENTS.md
  CHANGELOG.md
  docs/architecture/README.md
  internal/docs_drift_test.go
Due: gofmt, govet, staticcheck, go-test

fix(harness): give Crush catalog API-key env vars
  CHANGELOG.md
  cmd/execution_harness.go
  cmd/execution_harness_test.go
  docs/architecture/README.md
  internal/app/env.go
  internal/app/env_test.go
Due: gofmt, govet, staticcheck, go-test

ci: bump golangci-lint to v2.13.2 for Go 1.27
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

docs: keep Unreleased changelog to user-facing entries
  CHANGELOG.md
Due: none

feat(harness): auto-detect installed CLI when none configured
  CHANGELOG.md
  cmd/execution_orchestrator.go
  cmd/execution_orchestrator_test.go
  cmd/harness.go
  cmd/harness_test.go
  docs/architecture/README.md
  docs/reference/configuration.md
  internal/app/resolve.go
  internal/app/resolve_test.go
  internal/harness/harness.go
  internal/harness/harness_test.go
Due: gofmt, govet, staticcheck, go-test

docs: reconsolidate Unreleased changelog against v2.10.3
  CHANGELOG.md
Due: none

chore: bump version to v2.11.0
  CHANGELOG.md
Due: none
