Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

gofmt:
  name: Format Go code
  entry: gofmt -l
  language: system
  pass_filenames: false

govet:
  name: Vet Go code
  entry: /usr/local/go/bin/go vet ./...
  language: system
  pass_filenames: false

staticcheck:
  name: Run static analysis
  entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests
  entry: /usr/local/go/bin/go test -race ./...
  language: system
  pass_filenames: false
  always_run: false

go-mod-tidy:
  name: Check go.mod tidy
  entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
  language: system
  pass_filenames: false

govulncheck:
  name: Run vulnerability scan
  entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
  language: system
  pass_filenames: false

security(cmd): don't expose secrets in child process environment
  cmd/coverage_test.go
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

fix(config): use atomic writes for config files
  internal/config/expanded_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

docs: update CHANGELOG for security and durability improvements
  CHANGELOG.md
Due: none

test: add coverage for ClearScreen and ValidateAPIKey edge cases
  internal/ui/prompt_test.go
  internal/validate/validator_test.go
Due: gofmt, govet, staticcheck, go-test

feat(errors): add CleanupOnError helper for consistent cleanup
  internal/errors/cleanup.go
  internal/errors/cleanup_test.go
Due: gofmt, govet, staticcheck, go-test

docs: document global state design and provider addition process
  internal/README.md
Due: none

docs(changelog): add user-facing changes from v2.1.0 to HEAD
  CHANGELOG.md
Due: none

refactor(cmd): extract setup prompts and execution helpers
  cmd/execution.go
  cmd/harness.go
  cmd/root.go
  cmd/setup.go
  cmd/setup_prompts.go
Due: gofmt, govet, staticcheck, go-test

fix(ui): import kairoerrors for ErrUserCancelled in test
  internal/ui/prompt_test.go
Due: gofmt, govet, staticcheck, go-test

chore: release v2.2.0
  CHANGELOG.md
Due: none

feat: update MiniMax default model to MiniMax-M2.7
  internal/config/migration_test.go
  internal/providers/registry.go
  internal/providers/registry_test.go
Due: gofmt, govet, staticcheck, go-test

chore: release v2.2.1
  CHANGELOG.md
Due: none

refactor: extract CLIContext to replace global state
  cmd/context.go
  cmd/default.go
  cmd/delete.go
  cmd/execution.go
  cmd/execution_test.go
  cmd/harness.go
  cmd/harness_test.go
  cmd/list.go
  cmd/root.go
  cmd/setup.go
  cmd/setup_helpers_test.go
  cmd/setup_test.go
  cmd/update.go
  cmd/util.go
  cmd/util_test.go
Due: gofmt, govet, staticcheck, go-test

test: increase cmd package coverage
  cmd/execution_test.go
  cmd/setup_test.go
Due: gofmt, govet, staticcheck, go-test

docs: align documentation with current implementation
  README.md
  cmd/README.md
  docs/architecture/README.md
  docs/guides/development-guide.md
  docs/guides/user-guide.md
  docs/reference/configuration.md
  docs/reference/providers.md
  docs/troubleshooting/README.md
  internal/README.md
Due: none

docs: update unreleased changelog
  CHANGELOG.md
Due: none

feat: thread yolo flag through ExecutionConfig
  cmd/execution.go
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

chore: update c2sp.org/CCTV/age indirect dependency
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

feat: add release script for changelog management
  scripts/release.sh
Due: none

style: fix gofmt formatting in api_key.go
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

feat: implement yolo mode in executeWithAuth
  cmd/execution.go
  cmd/execution_test.go
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

fix: add IPv6 private address validation
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

chore: add CLAUDE.md symlink to AGENTS.md
  .gitignore
  CLAUDE.md
Due: none

ci: add develop branch support to workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/vulnerability-scan.yml
Due: none

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  staticcheck: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  govulncheck: any of: go\.(mod|sum)$
