Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

refactor(config): remove redundant CheckContext and ctx param from migrateConfigFile
  internal/config/config_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

fix(env): sanitize hyphens in APIKeyEnvVarName to produce valid env vars
  cmd/execution_env.go
  cmd/execution_test.go
Due: gofmt, govet, staticcheck, go-test

fix(update): add TLS and response header timeouts to HTTP client transport
  cmd/update.go
Due: gofmt, govet, staticcheck, go-test

docs: add changelog entries for technical debt fixes
  CHANGELOG.md
Due: none

feat(ui): detect Windows ANSI support via Virtual Terminal Processing
  go.mod
  internal/ui/prompt.go
  internal/ui/prompt_ansi.go
  internal/ui/prompt_ansi_windows.go
Due: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

refactor(config): propagate context through migrateConfigFile
  internal/config/config_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

style(cmd): remove unused setup prompt variable
  cmd/setup_prompts.go
Due: gofmt, govet, staticcheck, go-test

docs: regenerate AGENTS.md with architecture, conventions, and constraints
  AGENTS.md
Due: none

fix(ci): skip Unreleased section when extracting release notes
  .github/workflows/release.yml
Due: none

chore: bump version to v2.4.0
  CHANGELOG.md
Due: none

fix(ui): capture error from windows.GetStdHandle
  internal/ui/prompt_ansi_windows.go
Due: gofmt, govet, staticcheck, go-test

fix(ci): extract versioned section from CHANGELOG for release notes
  .github/workflows/release.yml
  .goreleaser.yaml
  CHANGELOG.md
Due: none

style(lint): add nlreturn exclusions for cmd and internal packages
  .golangci.yml
Due: none

refactor(ui): remove Windows ANSI detection, always emit color codes
  internal/ui/prompt.go
  internal/ui/prompt_ansi.go
  internal/ui/prompt_ansi_windows.go
Due: gofmt, govet, staticcheck, go-test

refactor(config): collapse migrateConfigFile sub-helpers into single function
  internal/config/config_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

refactor: inline cmd execution, consolidate tests, simplify internal packages
  cmd/coverage_config_test.go
  cmd/coverage_env_test.go
  cmd/coverage_test.go
  cmd/default.go
  cmd/delete.go
  cmd/delete_test.go
  cmd/execution_env.go
  cmd/execution_harness.go
  cmd/execution_test.go
  cmd/harness.go
  cmd/integration_test.go
  cmd/list.go
  cmd/root.go
  cmd/setup.go
  cmd/setup_config.go
  cmd/setup_prompts.go
  cmd/setup_prompts_test.go
  cmd/setup_provider.go
  cmd/setup_test.go
  cmd/test_helpers_test.go
  cmd/update.go
  cmd/util.go
  cmd/version.go
  cmd/version_test.go
  internal/crypto/age.go
  internal/crypto/crypto_test.go
  internal/errors/errors.go
  internal/providers/registry.go
  internal/validate/api_key.go
  internal/wrapper/wrapper.go
  internal/wrapper/wrapper_test.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

docs: simplify AGENTS.md to essential project info
  AGENTS.md
Due: none

fix: move golang.org/x/sys to indirect after removing Windows ANSI code
  go.mod
Due: go-mod-tidy, govulncheck

fix(ci): extract release notes via awk and patch body through GitHub API
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

chore: bump version to v2.4.1
  CHANGELOG.md
Due: none

refactor(constants,providers): centralize GitHub URLs and add APIKeyEnvVar to ProviderDefinition
  cmd/execution_env.go
  cmd/setup_test.go
  cmd/update.go
  cmd/update_test.go
  internal/constants/constants_test.go
  internal/constants/urls.go
  internal/providers/registry.go
  internal/providers/registry_test.go
Due: gofmt, govet, staticcheck, go-test
