Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

gofmt:
  name: Format Go code
  entry: gofmt -l
  language: system
  pass_filenames: false

govet:
  name: Vet Go code
  entry: /usr/local/go/bin/go vet ./...
  language: system
  pass_filenames: false

staticcheck:
  name: Run static analysis
  entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests
  entry: /usr/local/go/bin/go test -race ./...
  language: system
  pass_filenames: false
  always_run: false

go-mod-tidy:
  name: Check go.mod tidy
  entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
  language: system
  pass_filenames: false

govulncheck:
  name: Run vulnerability scan
  entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
  language: system
  pass_filenames: false

docs: add cosign v2 keyless verification fix to changelog
  CHANGELOG.md
Due: none

chore: bump version to v2.6.1
  CHANGELOG.md
Due: none

refactor(update): rename Get-prefix functions and add context parameters
  cmd/deps.go
  cmd/interfaces.go
  cmd/test_helpers.go
  cmd/update.go
  cmd/update_test.go
  cmd/version.go
  cmd/version_test.go
  internal/update/update.go
  internal/update/update_test.go
Due: gofmt, govet, staticcheck, go-test

refactor(config): remove redundant ConfigDir global state
  internal/config/env.go
  internal/config/env_test.go
Due: gofmt, govet, staticcheck, go-test

fix(signal): prevent goroutine leak in setupSignalHandler
  cmd/execution_harness.go
  cmd/util.go
  cmd/util_test.go
Due: gofmt, govet, staticcheck, go-test

fix(fsutil): create temp file in target directory for atomic writes
  internal/fsutil/fsutil.go
  internal/fsutil/fsutil_test.go
Due: gofmt, govet, staticcheck, go-test

docs: add missing package and type doc comments
  internal/config/loader.go
  internal/constants/paths.go
  internal/errors/errors.go
  internal/providers/registry.go
Due: gofmt, govet, staticcheck, go-test

docs: add changelog entries for update refactor and fixes
  CHANGELOG.md
Due: none

refactor(fsutil): remove stale tempPath variable after CreateTemp migration
  internal/fsutil/fsutil.go
Due: gofmt, govet, staticcheck, go-test

docs: update AGENTS.md with Architecture, Testing, Boundaries, and Patterns sections
  AGENTS.md
Due: none

chore: bump version to v2.6.2
  CHANGELOG.md
Due: none

fix: validate model name against actual model, not display name
  cmd/completion_test.go
  cmd/default_test.go
  cmd/delete_test.go
  cmd/execution_env_test.go
  cmd/execution_error.go
  cmd/harness.go
  cmd/harness_test.go
  cmd/integration_test.go
  cmd/list_test.go
  cmd/race_test.go
  cmd/root.go
  cmd/root_args_test.go
  cmd/root_cmd_test.go
  cmd/root_execute_test.go
  cmd/root_provider_test.go
  cmd/setup_configdir_test.go
  cmd/setup_provider.go
  cmd/setup_provider_test.go
  cmd/setup_secrets_test.go
  cmd/setup_validation_test.go
  internal/crypto/age_test.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

feat: add Crush CLI harness support
  cmd/execution_env.go
  cmd/execution_error.go
  cmd/execution_harness.go
  cmd/harness.go
  cmd/harness_test.go
  cmd/root.go
  docs/architecture/README.md
  docs/architecture/wrapper-scripts.md
  docs/guides/user-guide.md
  docs/reference/configuration.md
  docs/troubleshooting/README.md
Due: gofmt, govet, staticcheck, go-test

docs: update changelog with crush harness and model validation fix
  CHANGELOG.md
Due: none

chore: bump version to v2.7.0
  CHANGELOG.md
Due: none

refactor: consolidate harness logic and introduce crypto interface
  cmd/context.go
  cmd/coverage_test.go
  cmd/delete.go
  cmd/delete_test.go
  cmd/deps.go
  cmd/execution_env.go
  cmd/execution_env_test.go
  cmd/execution_error.go
  cmd/execution_harness.go
  cmd/execution_harness_test.go
  cmd/harness.go
  cmd/interfaces.go
  cmd/root_cmd_test.go
  cmd/setup.go
  cmd/setup_config.go
  cmd/setup_config_test.go
  cmd/setup_helpers_test.go
  cmd/setup_secrets_test.go
  cmd/test_helpers.go
  go.mod
  go.sum
  internal/config/env.go
  internal/crypto/service.go
  internal/execution/signal.go
  internal/harness/harness.go
  internal/harness/harness_test.go
Due: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

refactor(providers): move key format validation into provider definitions
  cmd/setup.go
  internal/providers/registry.go
  internal/validate/api_key.go
  internal/validate/validator_apikey_test.go
  internal/validate/validator_pattern_test.go
Due: gofmt, govet, staticcheck, go-test

style: remove redundant doc comments on delegate stubs and test helpers
  cmd/context.go
  internal/config/env.go
  internal/crypto/service.go
Due: gofmt, govet, staticcheck, go-test

refactor(cmd): deduplicate config loading with loadConfigOrExit and loadConfigOrEmpty
  cmd/delete.go
  cmd/harness.go
  cmd/list.go
  cmd/util.go
Due: gofmt, govet, staticcheck, go-test

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  staticcheck: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  govulncheck: any of: go\.(mod|sum)$
