Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

feat: add release script for changelog management
  scripts/release.sh
Due: none

test: improve cmd package coverage to 57.5%
  cmd/execution.go
  cmd/execution_test.go
  cmd/root_test.go
  cmd/setup_prompts_test.go
  cmd/setup_test.go
  cmd/update_test.go
  cmd/util_test.go
Due: gofmt, govet, staticcheck, go-test

ci: add develop branch support to workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/vulnerability-scan.yml
Due: none

feat: implement yolo mode in executeWithoutAuth
  cmd/execution.go
  cmd/execution_test.go
Due: gofmt, govet, staticcheck, go-test

fix: detect Go binary across Windows and Linux environments
  justfile
Due: none

test: add coverage for generateWindowsScript and matchesPattern
  internal/validate/validator_test.go
  internal/wrapper/wrapper.go
  internal/wrapper/wrapper_test.go
Due: gofmt, govet, staticcheck, go-test

chore: add ccc generated code to .gitignore
  .gitignore
Due: none

feat: implement yolo mode in executeWithAuth
  cmd/execution.go
  cmd/execution_test.go
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

test: fix pre-release checks for Windows and Go 1.26.1 compatibility
  .pre-commit-config.yaml
  cmd/execution_test.go
  cmd/root_test.go
  internal/config/expanded_test.go
Due: gofmt, govet, staticcheck, go-test

style: fix gofmt formatting in api_key.go
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

fix: validate [Unreleased] section exists in changelog
  scripts/release.sh
Due: none

fix: add IPv6 private address validation
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

feat: add --yolo flag to root command
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

chore: add CLAUDE.md symlink to AGENTS.md
  .gitignore
  CLAUDE.md
Due: none

chore: update go-runewidth to v0.0.21
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

refactor: sync CLIContext from flags via PersistentPreRun
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

refactor: extract claudeYoloFlag constant to avoid duplication
  cmd/execution.go
Due: gofmt, govet, staticcheck, go-test

docs: align documentation with current implementation
  README.md
  cmd/README.md
  docs/architecture/README.md
  docs/guides/development-guide.md
  docs/guides/user-guide.md
  docs/reference/configuration.md
  docs/reference/providers.md
  docs/troubleshooting/README.md
  internal/README.md
Due: none

chore: bump version to v2.3.0
  CHANGELOG.md
Due: none

security: add SHA256 checksum verification to update command
  .gitignore
  cmd/update.go
  cmd/update_test.go
  internal/errors/errors.go
  scripts/checksums.txt
  scripts/release.sh
Due: gofmt, govet, staticcheck, go-test

refactor: consolidate CLI state in CLIContext
  cmd/execution.go
  cmd/root.go
  cmd/root_test.go
  cmd/update_test.go
Due: gofmt, govet, staticcheck, go-test

refactor: split monolithic setup.go into focused modules
  cmd/execution_env.go
  cmd/root.go
  cmd/setup.go
  cmd/setup_config.go
  cmd/setup_provider.go
Due: gofmt, govet, staticcheck, go-test

refactor: split execution.go into focused modules
  cmd/execution.go
  cmd/execution_env.go
  cmd/execution_error.go
  cmd/execution_harness.go
Due: gofmt, govet, staticcheck, go-test

test: add PromptUI adapter for testable prompts
  cmd/prompt_ui.go
  cmd/prompt_ui_test.go
  cmd/setup_prompts.go
Due: gofmt, govet, staticcheck, go-test
