Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

gofmt:
  name: Format Go code
  entry: gofmt -l
  language: system
  pass_filenames: false

govet:
  name: Vet Go code
  entry: /usr/local/go/bin/go vet ./...
  language: system
  pass_filenames: false

staticcheck:
  name: Run static analysis
  entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests
  entry: /usr/local/go/bin/go test -race ./...
  language: system
  pass_filenames: false
  always_run: false

go-mod-tidy:
  name: Check go.mod tidy
  entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
  language: system
  pass_filenames: false

govulncheck:
  name: Run vulnerability scan
  entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
  language: system
  pass_filenames: false

feat: add --harness flag for CLI harness selection
  cmd/root.go
Due: gofmt, govet, staticcheck, go-test

fix(deps): update golang.org/x/crypto to v0.48.0
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

docs: add v1.10.0 changelog entry
  CHANGELOG.md
Due: none

chore: add bin/ to gitignore
  .gitignore
Due: none

docs: refactor AGENTS.md to progressive disclosure format
  AGENTS.md
Due: none

docs: reorder AGENTS.md docs section to prioritize internal/README.md
  AGENTS.md
Due: none

refactor: extract FormatSecrets to shared config utility
  cmd/config.go
  cmd/setup.go
  cmd/setup_helpers_test.go
  internal/config/config_test.go
  internal/config/secrets.go
Due: gofmt, govet, staticcheck, go-test

fix: use configCache.Get in reset command for consistency
  cmd/reset.go
Due: gofmt, govet, staticcheck, go-test

refactor: remove harness selection from setup command
  cmd/setup.go
Due: gofmt, govet, staticcheck, go-test

docs: add note explaining mustParseCIDR panic behavior
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

test: add fuzzing tests for input validation functions
  cmd/setup_helpers_test.go
  internal/validate/validator_test.go
  justfile
Due: gofmt, govet, staticcheck, go-test

test: add comprehensive integration tests for full workflow
  tests/integration/backup_recovery_test.go
  tests/integration/full_workflow_test.go
  tests/integration/helpers_test.go
Due: gofmt, govet, staticcheck, go-test

refactor: use FormatSecrets in reset command and fix build issues
  cmd/reset.go
  justfile
  tests/integration/helpers_test.go
Due: gofmt, govet, staticcheck, go-test

fix: address code review issues from v1.10.0..HEAD
  AGENTS.md
  cmd/reset.go
  cmd/setup.go
  justfile
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

fix: address critical security issues from code review
  cmd/config.go
  cmd/switch.go
  internal/recoveryphrase/recoveryphrase.go
Due: gofmt, govet, staticcheck, go-test

fix: add max length validation for recovery phrase and document memory safety limitation
  cmd/config.go
  internal/crypto/age.go
  internal/crypto/errors_test.go
  internal/recoveryphrase/recoveryphrase.go
  internal/recoveryphrase/recoveryphrase_test.go
Due: gofmt, govet, staticcheck, go-test

fix: address code review medium severity issues
  cmd/audit.go
  cmd/root.go
  internal/config/cache.go
Due: gofmt, govet, staticcheck, go-test

docs: update AGENTS.md for v1.10.1
  AGENTS.md
Due: none

fix: repair lint recipe and remove unused constant
  internal/recoveryphrase/recoveryphrase.go
  justfile
Due: gofmt, govet, staticcheck, go-test

cmd/audit: fix P1 error handling and format validation
  cmd/audit.go
Due: gofmt, govet, staticcheck, go-test

cmd/audit: fix P2 issues - audit export and format validation
  cmd/audit.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  staticcheck: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  govulncheck: any of: go\.(mod|sum)$
