Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, go-test, go-mod-tidy, govulncheck

gofmt:
  name: Format Go code
  entry: gofmt -l
  language: system
  pass_filenames: false

govet:
  name: Vet Go code
  entry: go vet ./...
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests
  entry: go test -race ./...
  language: system
  pass_filenames: false
  always_run: false

go-mod-tidy:
  name: Check go.mod tidy
  entry: bash -c "go mod tidy && git diff --exit-code go.mod go.sum"
  language: system
  pass_filenames: false

govulncheck:
  name: Run vulnerability scan
  entry: bash -c "command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
  language: system
  pass_filenames: false

test: increase switch.go test coverage
  cmd/switch_run_test.go
Due: gofmt, govet, go-test

refactor(cmd): remove unnecessary dual state management in reset and rotate commands
  cmd/reset.go
  cmd/reset_test.go
  cmd/rotate.go
  cmd/rotate_test.go
Due: gofmt, govet, go-test

refactor(validate): extract private IP CIDR blocks to package-level constants
  internal/validate/api_key.go
Due: gofmt, govet, go-test

docs: standardize function documentation format in cmd and internal/audit packages
  cmd/audit_helpers.go
  cmd/config.go
  cmd/list.go
  internal/audit/audit.go
Due: gofmt, govet, go-test

docs: add documentation to security-critical private functions
  cmd/setup.go
  internal/crypto/age.go
Due: gofmt, govet, go-test

docs: add documentation to utility helper functions
  cmd/setup.go
  internal/audit/audit.go
  internal/recovery/recovery.go
Due: gofmt, govet, go-test

docs: add package-level documentation to cmd, crypto, and wrapper packages
  cmd/root.go
  internal/crypto/age.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, go-test

test(crypto): add disk full error handling tests
  internal/crypto/disk_full_test.go
Due: gofmt, govet, go-test

test(cmd): add audit helpers tests
  cmd/audit_helpers_test.go
Due: gofmt, govet, go-test

test: fix race detection failures in integration tests
  cmd/switch_run_test.go
  cmd/update_test.go
Due: gofmt, govet, go-test

fix(deps): update golang.org/x/crypto to v0.45.0 to fix security vulnerabilities
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

fix(stdlib): update go directive to 1.25.6 to fix crypto/tls vulnerability
  go.mod
Due: go-mod-tidy, govulncheck

fix(ci): update dependency review to allow golang.org/x/crypto PATENTS
  .github/workflows/vulnerability-scan.yml
Due: none

fix(ci): update Go version to 1.25.6 and fix coverage report step
  .github/workflows/ci.yml
Due: none

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  govulncheck: any of: go\.(mod|sum)$
