Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

docs: add pi harness and complete provider list across all docs
  README.md
  docs/architecture/README.md
  docs/guides/development-guide.md
  docs/guides/user-guide.md
Due: none

fix: use default provider when args start with -- separator
  cmd/root.go
  cmd/root_test.go
Due: gofmt, govet, staticcheck, go-test

ci: add install script checksum verification to lint job
  .github/workflows/ci.yml
Due: none

fix(ci): correct checksum verification path and blank line handling
  .github/workflows/ci.yml
Due: none

refactor(cmd): replace mutable global vars with Deps struct for dependency injection
  cmd/context.go
  cmd/deps.go
  cmd/execution.go
  cmd/execution_harness.go
  cmd/execution_test.go
  cmd/integration_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/update.go
  cmd/update_test.go
  cmd/util.go
  cmd/version.go
Due: gofmt, govet, staticcheck, go-test

test: add test coverage for cmd, wrapper, and fix CI matrix
  .github/workflows/ci.yml
  cmd/execution_env_test.go
  cmd/setup_config_test.go
  internal/wrapper/wrapper_test.go
Due: gofmt, govet, staticcheck, go-test

fix(ci): add explicit bash shell for Windows platform build step
  .github/workflows/ci.yml
Due: none

test: add coverage for config loader, crypto age, and execution harness
  cmd/execution_harness_test.go
  internal/config/loader_test.go
  internal/crypto/age_test.go
Due: gofmt, govet, staticcheck, go-test

refactor: decompose root Run, add typed errors, remove panic, wrap fsutil errors
  cmd/execution_error.go
  cmd/root.go
  internal/config/loader.go
  internal/errors/errors.go
  internal/fsutil/fsutil.go
  internal/update/update.go
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

refactor(cmd): centralize env vars, migrate os.IsNotExist, wrap bare errors, improve coverage
  cmd/delete.go
  cmd/execution_env.go
  cmd/execution_harness.go
  cmd/harness.go
  cmd/list.go
  cmd/root.go
  cmd/root_test.go
  cmd/setup.go
  cmd/setup_config.go
  cmd/util.go
  internal/config/loader.go
  internal/constants/paths.go
  internal/crypto/age.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

refactor: consolidate low-priority code quality improvements
  cmd/completion.go
  cmd/context.go
  cmd/coverage_test.go
  cmd/default.go
  cmd/delete.go
  cmd/execution_env.go
  cmd/execution_test.go
  cmd/harness.go
  cmd/list.go
  cmd/root.go
  cmd/setup_config.go
  cmd/util.go
  internal/constants/paths.go
  internal/crypto/age.go
  internal/update/update.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

test: add coverage for dispatch paths and update security deps
  cmd/root_test.go
  go.mod
  go.sum
Due: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

test: add tap-based TUI tests for setup prompt functions
  cmd/setup_prompts_test.go
Due: gofmt, govet, staticcheck, go-test

test: add coverage for update.go error paths
  internal/update/update_test.go
Due: gofmt, govet, staticcheck, go-test

test: push cmd package coverage past 70% CI threshold
  cmd/setup_prompts_test.go
  cmd/util_test.go
Due: gofmt, govet, staticcheck, go-test

test: add generateScriptContent branch coverage in wrapper package
  internal/wrapper/wrapper_test.go
Due: gofmt, govet, staticcheck, go-test

test: add coverage for validate package error paths and audit global mutable vars
  internal/validate/validator_test.go
Due: gofmt, govet, staticcheck, go-test

chore: migrate golangci-lint from v1.64.8 to v2.12.2
  .github/workflows/ci.yml
  .golangci.yml
  cmd/completion.go
  cmd/delete.go
  cmd/list.go
  cmd/setup.go
  cmd/update.go
  internal/config/loader_test.go
  internal/config/migration.go
  internal/config/migration_test.go
  internal/constants/paths.go
  internal/crypto/age_test.go
  internal/errors/errors.go
  internal/ui/prompt.go
  internal/ui/prompt_test.go
  internal/update/update.go
  internal/validate/api_key.go
  internal/wrapper/wrapper.go
  internal/wrapper/wrapper_test.go
Due: gofmt, govet, staticcheck, go-test

docs: update CHANGELOG.md with unreleased entries since v2.5.1
  CHANGELOG.md
Due: none

chore: update dependencies (semver, cctv/age, go-isatty, go-runewidth, go-tty)
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck
