Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

style: remove trailing blank line in default_test.go
  cmd/default_test.go
Due: gofmt, govet, staticcheck, go-test

fix: remove restrictive license allow-list in vulnerability-scan workflow
  .github/workflows/vulnerability-scan.yml
Due: none

chore: bump version to v2.0.0
  CHANGELOG.md
Due: none

docs: remove references to deleted config/switch/test commands
  cmd/integration_test.go
  docs/reference/providers.md
  docs/troubleshooting/README.md
  internal/README.md
Due: gofmt, govet, staticcheck, go-test

docs: remove audit component references from architecture diagrams
  README.md
  docs/architecture/README.md
Due: none

refactor: remove audit logging feature
  cmd/setup.go
  cmd/setup_test.go
  docs/README.md
  docs/architecture/README.md
  docs/guides/development-guide.md
  internal/README.md
  pkg/README.md
Due: gofmt, govet, staticcheck, go-test

docs: remove audit references from remaining docs
  AGENTS.md
  README.md
  cmd/README.md
Due: none

docs: fix table formatting in architecture README
  docs/architecture/README.md
Due: none

docs: fix table formatting in architecture docs
  docs/architecture/README.md
  docs/architecture/adr/0002-cobra-framework-choice.md
  docs/architecture/adr/0003-age-library-selection.md
  docs/architecture/adr/README.md
Due: none

chore: update Go version to 1.26 and upgrade dependencies
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

ci: update Go version to 1.26 in all workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/vulnerability-scan.yml
Due: none

refactor: reduce linter exclusions and fix code complexity issues
  .golangci.yml
  cmd/root.go
  cmd/setup.go
  cmd/update.go
  internal/config/cache.go
  internal/config/loader.go
  internal/config/migration.go
  internal/config/secrets.go
  internal/crypto/age.go
  internal/validate/api_key.go
  internal/validate/provider.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

refactor: remove deprecated Config.Version field
  internal/config/config_test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

test: improve cmd package test coverage
  cmd/coverage_test.go
Due: gofmt, govet, staticcheck, go-test

fix: resolve lint issues in cmd package
  cmd/coverage_test.go
  cmd/setup.go
Due: gofmt, govet, staticcheck, go-test

fix: pass Exists field in BuildProviderConfigFromInput test
  cmd/coverage_test.go
Due: gofmt, govet, staticcheck, go-test

ci: update dependency versions and fix lint exclusion
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/vulnerability-scan.yml
  .golangci.yml
  justfile
Due: none

docs: add CHANGELOG entries for changes since v2.0.0
  CHANGELOG.md
Due: none

feat: add context.Context support for cancellation and timeouts
  .golangci.yml
  cmd/default.go
  cmd/delete.go
  cmd/harness.go
  cmd/list.go
  cmd/root.go
  cmd/setup.go
  cmd/update.go
  internal/config/cache.go
  internal/config/loader.go
  internal/config/migration.go
  internal/crypto/age.go
Due: gofmt, govet, staticcheck, go-test

test: update test files with context.Background() calls
  cmd/default_test.go
  cmd/harness_test.go
  cmd/integration_test.go
  cmd/root_test.go
  cmd/setup_test.go
  internal/config/cache_test.go
  internal/config/config_test.go
  internal/config/expanded_test.go
  internal/config/migration_test.go
  internal/crypto/crypto_test.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

test: increase cmd package test coverage
  cmd/delete_test.go
  cmd/setup_helpers_test.go
Due: gofmt, govet, staticcheck, go-test
