Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

gofmt:
  name: Format Go code
  entry: gofmt -l
  language: system
  pass_filenames: false

govet:
  name: Vet Go code
  entry: /usr/local/go/bin/go vet ./...
  language: system
  pass_filenames: false

staticcheck:
  name: Run static analysis
  entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests
  entry: /usr/local/go/bin/go test -race ./...
  language: system
  pass_filenames: false
  always_run: false

go-mod-tidy:
  name: Check go.mod tidy
  entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
  language: system
  pass_filenames: false

govulncheck:
  name: Run vulnerability scan
  entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
  language: system
  pass_filenames: false

docs: update documentation for harness feature
  README.md
  cmd/README.md
  cmd/setup.go
  docs/guides/user-guide.md
Due: gofmt, govet, staticcheck, go-test

docs: update README for multi-harness support
  README.md
Due: none

docs: fix markdown table alignment (MD060)
  README.md
  cmd/README.md
Due: none

docs: update README with Qwen Code configuration instructions
  README.md
Due: none

docs(changelog): add v1.9.0 release notes
  CHANGELOG.md
Due: none

docs: add baseUrl for GLM-4.7 provider in Qwen settings example
  README.md
Due: none

fix: show platform-specific installation guide for outdated binary errors
  cmd/config.go
  cmd/default.go
  cmd/harness.go
  cmd/integration_test.go
  cmd/list.go
  cmd/reset.go
  cmd/root.go
  cmd/root_test.go
  cmd/status.go
  cmd/switch.go
  cmd/test.go
  internal/config/loader.go
Due: gofmt, govet, staticcheck, go-test

refactor: extract validation and transaction logic into separate modules
  cmd/config.go
  cmd/config_test.go
  cmd/config_tx.go
  cmd/env.go
  cmd/harness.go
  cmd/harness_test.go
  cmd/integration_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/switch.go
  go.mod
  internal/config/loader.go
  internal/errors/errors_test.go
  internal/validate/provider.go
  internal/validate/provider_test.go
Due: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

fix: eliminate TOCTOU race in config cache
  internal/config/cache.go
Due: gofmt, govet, staticcheck, go-test

fix: prevent goroutine leak and incorrect exit on normal termination
  cmd/switch.go
Due: gofmt, govet, staticcheck, go-test

perf: use bit shifting for O(1) backoff calculation
  internal/recovery/recovery.go
Due: gofmt, govet, staticcheck, go-test

refactor: extract magic numbers to named constants
  cmd/setup.go
  internal/validate/provider.go
Due: gofmt, govet, staticcheck, go-test

refactor: remove empty placeholder tests
  cmd/switch_run_test.go
Due: gofmt, govet, staticcheck, go-test

fix: check os.Pipe error before assigning to os.Stdout
  cmd/switch_run_test.go
Due: gofmt, govet, staticcheck, go-test

docs: document why changelog is disabled in goreleaser
  .goreleaser.yaml
Due: none

refactor: use typed errors in cmd/update.go
  cmd/update.go
Due: gofmt, govet, staticcheck, go-test

refactor: replace fmt.Errorf with typed errors throughout
  cmd/audit.go
  cmd/audit_helpers.go
  cmd/config_tx.go
  cmd/metrics.go
  cmd/setup.go
  internal/backup/backup.go
  internal/config/loader.go
  internal/recover/recover.go
  internal/validate/provider.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

test: add edge case tests for config and secrets handling
  internal/config/cache_test.go
  internal/config/config_test.go
  internal/crypto/crypto_test.go
Due: gofmt, govet, staticcheck, go-test

fix: add mutex protection for global configDir
  cmd/config_test.go
  cmd/default_test.go
  cmd/root.go
  cmd/switch_run_test.go
Due: gofmt, govet, staticcheck, go-test

test: expand unit tests for audit, backup, config, and config_tx
  cmd/config_tx_test.go
  internal/audit/audit_expanded_test.go
  internal/backup/backup_expanded_test.go
  internal/config/expanded_test.go
Due: gofmt, govet, staticcheck, go-test

fix: resolve race condition in FileWatcher.checkForChanges
  internal/config/watch.go
Due: gofmt, govet, staticcheck, go-test

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  staticcheck: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  govulncheck: any of: go\.(mod|sum)$
