Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: /usr/local/go/bin/go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: staticcheck
        name: Run static analysis
        entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: /usr/local/go/bin/go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

chore: bump version to v2.3.1
  CHANGELOG.md
Due: none

style(ui): use middle dot separator and add spacing in banner
  cmd/setup_test.go
  internal/ui/prompt.go
Due: gofmt, govet, staticcheck, go-test

refactor: improve code quality and security
  .github/workflows/ci.yml
  AGENTS.md
  cmd/delete.go
  cmd/root.go
  cmd/setup_config.go
  internal/config/cache_test.go
  internal/config/loader.go
  internal/config/secrets.go
Due: gofmt, govet, staticcheck, go-test

chore: combine test commands and add security recipe
  justfile
Due: none

docs(changelog): add unreleased entries for recent improvements
  CHANGELOG.md
Due: none

refactor: remove unused dead code across codebase
  cmd/setup_helpers_test.go
  cmd/setup_prompts.go
  cmd/setup_provider.go
  cmd/setup_test.go
  internal/config/cache.go
  internal/config/cache_test.go
  internal/config/expanded_test.go
  internal/config/secrets.go
  internal/errors/cleanup.go
  internal/errors/cleanup_test.go
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/ui/prompt.go
  internal/ui/prompt_test.go
Due: gofmt, govet, staticcheck, go-test

feat(cli): restore completion command with auto-save support
  cmd/completion.go
  cmd/completion_test.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): update unreleased with completion command restoration
  CHANGELOG.md
Due: none

chore: move golang.org/x/term to indirect dependency
  go.mod
Due: go-mod-tidy, govulncheck

chore: bump version to v2.3.2
  CHANGELOG.md
Due: none

fix: include scripts/checksums.txt in release artifacts
  .goreleaser.yaml
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

fix: correct goreleaser extra_files field name
  .goreleaser.yaml
Due: none

fix: use correct extra_files syntax with glob and name_template
  .goreleaser.yaml
Due: none

chore: bump version to v2.3.3
  CHANGELOG.md
Due: none

fix(update): correct script name lookup in checksum verification
  cmd/update.go
  cmd/update_test.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): document checksum verification fix
  CHANGELOG.md
Due: none

docs(changelog): add v2.3.3 release section
  CHANGELOG.md
Due: none

chore: bump version to v2.3.4
  CHANGELOG.md
Due: none

chore: update zai default model to glm-5.1
  CHANGELOG.md
  cmd/default_test.go
  docs/architecture/README.md
  docs/guides/user-guide.md
  docs/reference/configuration.md
  docs/reference/providers.md
  internal/README.md
  internal/config/config_test.go
  internal/config/migration_test.go
  internal/providers/registry.go
  internal/providers/registry_test.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

chore: bump version to v2.3.5
  CHANGELOG.md
Due: none
