Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, go-test, go-mod-tidy, govulncheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gofmt
        name: Format Go code
        entry: gofmt -l
        language: system
        files: \.go$
        pass_filenames: false

      - id: govet
        name: Vet Go code
        entry: go vet ./...
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: Run Go tests
        entry: go test -race ./...
        language: system
        files: \.go$
        pass_filenames: false
        always_run: false

      - id: go-mod-tidy
        name: Check go.mod tidy
        entry: bash -c "go mod tidy && git diff --exit-code go.mod go.sum"
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: govulncheck
        name: Run vulnerability scan
        entry: bash -c "command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"

fix(backup): fix deferred Close and add zip verification
  internal/backup/backup.go
  internal/backup/backup_test.go
Due: gofmt, govet, go-test

fix(backup): fix Zip Slip vulnerability and resource leaks
  cmd/backup.go
  cmd/backup_test.go
  internal/backup/backup.go
  internal/backup/backup_test.go
Due: gofmt, govet, go-test

docs: add metrics documentation to README
  README.md
Due: none

feat(config): add config caching layer
  internal/config/cache.go
  internal/config/cache_test.go
Due: gofmt, govet, go-test

feat: integrate config cache into commands
  cmd/config.go
  cmd/root.go
  cmd/setup.go
  cmd/switch.go
Due: gofmt, govet, go-test

feat(config): add file watcher for cache invalidation
  internal/config/watch.go
  internal/config/watch_test.go
Due: gofmt, govet, go-test

feat(recover): add key recovery with passphrase
  go.mod
  go.sum
  internal/recover/recover.go
  internal/recover/recover_test.go
Due: gofmt, govet, go-test, go-mod-tidy, govulncheck

feat: add recover commands for key restoration
  cmd/recover.go
  cmd/recover_test.go
Due: gofmt, govet, go-test

feat: improve error messages with recovery suggestions
  docs/troubleshooting/README.md
  internal/crypto/age.go
Due: gofmt, govet, go-test

test: add integration tests for backup/recovery
  tests/integration/backup_recovery_test.go
Due: gofmt, govet, go-test

docs: add backup and recovery documentation
  docs/features.md
Due: none

fix: reset configDir in TestGetConfigDir to avoid test pollution
  cmd/config_test.go
Due: gofmt, govet, go-test

docs: improve table formatting in README metrics section
  README.md
Due: none

style: fix whitespace and handle ignored errors in tests
  cmd/backup_test.go
  cmd/recover_test.go
  cmd/root.go
  cmd/setup_test.go
  internal/backup/backup_test.go
  internal/config/watch_test.go
  internal/errors/errors_test.go
  internal/performance/metrics_test.go
  internal/recover/recover_test.go
Due: gofmt, govet, go-test

ci(pre-commit): add staticcheck for Go static analysis
  .pre-commit-config.yaml
Due: none

docs: add v1.8.0 release notes
  CHANGELOG.md
Due: none

docs: refresh AGENTS.md with Go/Just workflow documentation
  AGENTS.md
Due: none

feat: update MiniMax default model to M2.5
  cmd/config_test.go
  cmd/reset_test.go
  docs/architecture/README.md
  docs/best-practices.md
  internal/README.md
  internal/providers/registry.go
  internal/providers/registry_test.go
Due: gofmt, govet, go-test

feat: add auto-update config migration
  .pre-commit-config.yaml
  cmd/config.go
  cmd/update.go
  internal/config/loader.go
  internal/config/migration.go
Due: gofmt, govet, go-test

fix(deps): upgrade golang.org/x/net and x/crypto
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

style: fix whitespace in Config struct
  internal/config/loader.go
Due: gofmt, govet, go-test
