Repository dkmnx/kairo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, govet, staticcheck, go-test, go-mod-tidy, govulncheck

gofmt:
  name: Format Go code
  entry: gofmt -l
  language: system
  pass_filenames: false

govet:
  name: Vet Go code
  entry: /usr/local/go/bin/go vet ./...
  language: system
  pass_filenames: false

staticcheck:
  name: Run static analysis
  entry: bash -c "export PATH=\"/usr/local/go/bin:$GOPATH/bin:$PATH\"; staticcheck ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests
  entry: /usr/local/go/bin/go test -race ./...
  language: system
  pass_filenames: false
  always_run: false

go-mod-tidy:
  name: Check go.mod tidy
  entry: bash -c "/usr/local/go/bin/go mod tidy && git diff --exit-code go.mod go.sum"
  language: system
  pass_filenames: false

govulncheck:
  name: Run vulnerability scan
  entry: bash -c "export PATH=\"$GOPATH/bin:$PATH\"; command -v govulncheck >/dev/null 2>&1 || go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./..."
  language: system
  pass_filenames: false

test: increase cmd package test coverage
  cmd/delete_test.go
  cmd/setup_helpers_test.go
Due: gofmt, govet, staticcheck, go-test

changelog: add context.Context support entry to unreleased changes
  CHANGELOG.md
Due: none

refactor: apply clean code principles across internal packages
  cmd/root.go
  internal/config/cache.go
  internal/config/loader.go
  internal/config/migration.go
  internal/config/secrets.go
  internal/crypto/age.go
  internal/errors/errors.go
  internal/providers/registry.go
  internal/ui/prompt.go
  internal/validate/api_key.go
  internal/validate/provider.go
  internal/wrapper/wrapper.go
  internal/wrapper/wrapper_test.go
Due: gofmt, govet, staticcheck, go-test

docs: fix documentation discrepancies
  AGENTS.md
  README.md
  cmd/README.md
  docs/architecture/README.md
Due: none

refactor: remove references to deprecated v1.x commands
  cmd/integration_test.go
  cmd/root.go
  cmd/setup.go
  docs/reference/configuration.md
  docs/reference/providers.md
  internal/README.md
  internal/crypto/age.go
  internal/errors/errors.go
  tests/integration/full_workflow_test.go
Due: gofmt, govet, staticcheck, go-test

feat: add --reset-secrets flag to setup command for recovery
  cmd/root.go
  cmd/setup.go
Due: gofmt, govet, staticcheck, go-test

docs(changelog): update unreleased section with recent changes
  CHANGELOG.md
Due: none

ci: fix issue with cosign version
  .github/workflows/release.yml
Due: none

chore: bump version to v2.1.0
  CHANGELOG.md
Due: none

refactor: merge pkg/env into internal/config, add cache metrics and SecretsMap
  cmd/root.go
  internal/config/cache.go
  internal/config/cache_test.go
  internal/config/env.go
  internal/config/env_test.go
  internal/config/expanded_test.go
  internal/config/secrets.go
  pkg/README.md
  pkg/env/env.go
Due: gofmt, govet, staticcheck, go-test

fix: merge duplicate init() functions in setup.go
  cmd/setup.go
Due: gofmt, govet, staticcheck, go-test

refactor: improve code quality and testability
  cmd/root.go
  cmd/update.go
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

style: standardize validation error message format
  internal/validate/api_key.go
  internal/validate/provider.go
  internal/validate/provider_test.go
  internal/wrapper/wrapper.go
Due: gofmt, govet, staticcheck, go-test

fix: improve error handling and fix race condition in cache
  cmd/root.go
  internal/config/cache.go
  internal/config/env.go
  internal/config/env_test.go
  internal/ui/prompt.go
Due: gofmt, govet, staticcheck, go-test

fix: address race condition and improve code quality
  cmd/root.go
  internal/config/secrets.go
  internal/crypto/age.go
  internal/providers/registry.go
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

fix: improve security and reliability
  cmd/default.go
  cmd/delete.go
  cmd/harness.go
  cmd/setup.go
  cmd/update.go
  cmd/util.go
  internal/config/secrets.go
Due: gofmt, govet, staticcheck, go-test

style: fix lint issues for pre-release
  cmd/root.go
  cmd/util.go
  internal/config/cache.go
  internal/config/env.go
  internal/config/secrets.go
  internal/validate/api_key.go
Due: gofmt, govet, staticcheck, go-test

docs: update Go version requirement from 1.25+ to 1.26+
  README.md
  docs/guides/development-guide.md
Due: none

docs: fix stale references in architecture documentation
  docs/architecture/README.md
Due: none

lint: remove stale pkg/env exclude rule
  .golangci.yml
Due: none

deps: update x/term, x/sys, x/crypto, x/net, x/text, x/tools
  go.mod
  go.sum
Due: go-mod-tidy, govulncheck

Path conditions:
  gofmt: any of: \.go$
  govet: any of: \.go$
  staticcheck: any of: \.go$
  go-test: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  govulncheck: any of: go\.(mod|sum)$
